@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
 :root {
  --color-info-dark: #7d8da1;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-dark-variant: #677483;
  --box-shadow: 0 2rem 3rem var(--color-light);

 }



.main {
  height: 100vh;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
  background-color: #ffffff;
}

.dark-mode-variables{
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

/* CSS SIDE BAR */
.sidebar {
  background: #181a1e;
  color: #fff;

}

.logo {
  padding: 15px;
  color: aqua;
}


.sidebar a {
  color: #6b6969;
  text-decoration: none;
  display: block;
  padding: 15px 50px;
  transition: all 1.6s ease;
}

.sidebar a:hover {
  background: #dddddd;
  border-radius: 2rem;
}

/*
.active {
  background: #470808;
  border-right: solid 8px blue;
}
/* CSS SIDE BAR */

/* CARD DATA DASHBOARD */
.card-data {
  padding: 20px 50px;
  background-color: #181a1e;
  color: #fff;
  border-radius: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-data > div:hover {
  box-shadow: none;
}



.card-data i {
  font-size: 40px;
}

.card-desc {
  font-size: 30px;
}

.card-count {
  font-size: 30px;
}
/* CARD DATA DASHBOARD */


