.main {
    height: 100vh;
}

/* CSS SIDE BAR */
.sidebar {
    background: #7e7d7d;
    color: #fff;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}

.sidebar a:hover {
    background: #470808;
}

.active {
    background: #470808;
    border-right: solid 8px blue;
}
/* CSS SIDE BAR */

/* CARD DATA DASHBOARD */
.card-data {
    border: solid 1px;
    padding: 20px 50px;
    color: #fff;
}

.card-data.book {
    background-color: crimson;
}

.card-data.category {
    background-color: rgb(255, 0, 191);
}

.card-data.user {
    background-color: rgb(153, 0, 241);
}

.card-data i {
    font-size: 80px;
}

.card-desc {
    font-size: 30px;
}

.card-count {
    font-size: 30px;
}
/* CARD DATA DASHBOARD */
